[submodule "files/.vim"]
	path = files/.vim
	url = git@github.com:adamheins/.vim.git
[submodule "files/.tmux/plugins/tmux-scroll-copy-mode"]
	path = files/.tmux/plugins/tmux-scroll-copy-mode
	url = git@github.com:nhdaly/tmux-scroll-copy-mode
