# vim
*.swp
*.swo
*~

# macOS
.DS_Store

# cscope
*cscope*

# gdb
.gdbinit
gdbserver_log

# python
*.pyc
*.egg-info

# c
a.out
*.o
*.a

# generic log files
*.log

# node.js
node_modules/

# ctags
tags

# latex
.latex.out
